<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.android.projectx.presentation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.nitin.pluralchat.MESSAGE_USER" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".features.channels.AudioStreamingService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".features.channels.ChannelsActivity"
            android:windowSoftInputMode="adjustPan"
            >
        </activity>
        <activity android:name=".features.profile.ProfileActivity" />
        <activity android:name=".features.editprofile.EditProfileActivity" />
        <activity android:name=".features.login.LoginActivity" />
        <activity
            android:name=".features.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
           </activity>
        <activity
            android:name=".features.browse.BrowseActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".features.bookmarked.BookmarkedActivity"
            android:label="@string/title_bookmarked" />
        <activity
            android:name=".features.restaurants.RestaurantsActivity"
            android:label="@string/app_name" />
    </application>

</manifest>